<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<p><%= link_to "New category", new_category_path %></p>

<div id="posts"">
  <%= link_to "Show posts", posts_path %>
  <%= link_to "New post", new_post_path %>
</div>